#app {
  .main-container {
    transition: margin-left 0.28s;
    position: relative;
    display: flex;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
  }
}
